<div class="nav-bar">
    <div class="profile-customer">
        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="avatar">
        <p>{{customerName}}</p>
        <div class="authen">
            <a href="/auth/profile"><i class="fa-solid fa-user"></i></a>
            <a href=""><i class="fa-solid fa-right-to-bracket"></i></a>
        </div>
    </div>
    <div class="menu-bar">
        <ul>
            <li *ngFor="let item of data_menu"><a href="{{item.path}}">{{item.displayName}}</a></li>
        </ul>
    </div>
</div>