<div
  class="row menu-area"
  [ngClass]="isShowMenu ? 'show-element' : 'hide-element'"
>
  <div class="col-md-12 customer">
    <div class="row">
      <div class="col-md-6 account-avatar">
        <img
          src="https://www.w3schools.com/howto/img_avatar.png"
          alt="Avatar"
          class="avatar"
        />
      </div>
      <div class="col-md-6 account-name">
        {{ customerName }}
        <div class="row group-action-customer">
          <div class="col-md-12 area-actions">
            <div class="item-action">
              <a href="/auth"><i class="fa-solid fa-user"></i></a>
            </div>
            <div class="item-action">
              <a href="javascript:void(0)"
                ><i class="fa-solid fa-right-to-bracket"></i
              ></a>
            </div>
            <div
              class="item-action item-action-notify"
              (click)="toggleNotify()"
            >
              <a href="javascript:void(0)">
                <i class="fa-solid fa-bell"></i>
                <div class="count-notify"></div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div
        class="list-notify"
        [ngClass]="isShowNotificationArea ? 'show-element' : 'hide-element'"
      >
        <ul>
          <li *ngFor="let item of data_notify" class="li-item-noti">
            <div class="item-content-noti title-noti">{{ item.title }}</div>
            <div class="item-content-noti body-noti">{{ item.body }}</div>
            <div class="item-content-noti time-noti">{{ item.time }}</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-12 menu">
    <nav class="vertical-menu">
      <ul *ngIf="data_menu.length > 0">
        <li *ngFor="let item of data_menu">
          <a
            href="javascript:void(0)"
            (click)="redirectMenu(item.path, $event, item.list_child.length)"
          >
            <div class="title-menu">
              {{ item.display_name }}
            </div>
            <div class="icon-menu">
              <i
                [ngClass]="
                  is_open ? 'fa fa-chevron-down' : 'fa fa-chevron-right'
                "
                aria-hidden="true"
              ></i>
            </div>
          </a>
          <ul class="sub-menu" *ngIf="item.list_child.length > 0">
            <li *ngFor="let subItem of item.list_child">
              <a
                [ngClass]="is_active ? 'active' : 'inactive'"
                href="javascript:void(0)"
                (click)="
                  redirectMenu(
                    item.path + '/' + subItem.path,
                    $event,
                    subItem.list_child.length
                  )
                "
              >
                <div class="title-menu">
                  {{ subItem.display_name }}
                </div>
                <div class="icon-menu" *ngIf="subItem.list_child.length > 0">
                  <i
                    [ngClass]="
                      is_open ? 'fa fa-chevron-down' : 'fa fa-chevron-right'
                    "
                    aria-hidden="true"
                  ></i>
                </div>
              </a>
              <ul class="sub-menu" *ngIf="subItem.list_child.length > 0">
                <li *ngFor="let subSubItem of subItem.list_child">
                  <a
                    href="javascript:void(0)"
                    (click)="
                      redirectMenu(
                        item.path + '/' + subItem.path + '/' + subSubItem.path,
                        $event,
                        subSubItem.list_child.length
                      )
                    "
                  >
                    <div class="title-menu">
                      {{ subSubItem.display_name }}
                    </div>
                    <div
                      class="icon-menu"
                      *ngIf="subSubItem.list_child.length > 0"
                    >
                      <i
                        [ngClass]="
                          is_open ? 'fa fa-chevron-down' : 'fa fa-chevron-right'
                        "
                        aria-hidden="true"
                      ></i>
                    </div>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>

<!-- <ul class="menu">
  <li>
    <a href="#">Menu 1</a>
    <ul class="submenu">
      <li><a href="#">Submenu 1-1</a></li>
      <li>
        <a href="#">Submenu 1-2</a>
        <ul class="submenu">
          <li><a href="#">Submenu 1-2-1</a></li>
          <li><a href="#">Submenu 1-2-2</a></li>
        </ul>
      </li>
      <li><a href="#">Submenu 1-3</a></li>
    </ul>
  </li>
  <li><a href="#">Menu 2</a></li>
  <li>
    <a href="#">Menu 3</a>
    <ul class="submenu">
      <li><a href="#">Submenu 3-1</a></li>
      <li><a href="#">Submenu 3-2</a></li>
    </ul>
  </li>
</ul> -->
