*.vsidx
shop-food/.vs/
shop-food/shop-food/bin/
shop-food/shop-food/obj/
shop-food/shop-food-api/bin/
shop-food/shop-food-api/obj/
shop-food/shop-food-authen/bin/
shop-food/shop-food-authen/obj/
shop-food/shop-food-ocelot-gateway/bin/
shop-food/shop-food-ocelot-gateway/obj/
shop-food/utility/obj/
shop-food/api-core/obj/
shop-food/Common.Model/bin/
*bin/
*obj/
