<!-- <app-notification></app-notification> -->
<app-loading></app-loading>
<router-outlet />
<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <app-menu></app-menu>
    </div>
    <div class="col-md-10">
      <div class="control-panel">
        <div class="row">
          <div class="col-md-12">
            <button
              type="button"
              class="btn btn-default mr-5"
              (click)="onPreviousPage()"
            >
              <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </button>
            <button
              type="button"
              class="btn btn-default mr-5"
              (click)="onNextPage()"
            >
              <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
      <router-outlet />
    </div>
  </div>
</div> -->
