<table class="table table-bordered table-inverse table-responsive">
    <tbody>
        <tr>
            <td>Name</td>
            <td>{{name}}</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>{{address}}</td>
        </tr>
        <tr>
            <td>Created by</td>
            <td>{{createdBy}}</td>
        </tr>
        <tr>
            <td>Created date</td>
            <td>{{createdDate}}</td>
        </tr>
        <tr>
            <td>Updated by</td>
            <td>{{updatedBy}}</td>
        </tr>
        <tr>
            <td>Updated date</td>
            <td>{{updatedDate}}</td>
        </tr>
    </tbody>
</table>