/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
    font-family: "Noto Sans", serif;
    box-sizing: border-box;
}

img:hover {
    cursor: pointer;
}

.form-custom {
    button {
        margin-top: 10px;
    }
}