<div class="form-custom">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="name">Tên kho</label>
        <input
          type="text"
          class="form-control"
          name="name"
          id="name"
          aria-describedby="helpId"
          placeholder=""
          [formControl]="name"
        />
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <label for="address">Địa chỉ</label>
        <input
          type="text"
          class="form-control"
          name="address"
          id="address"
          aria-describedby="helpId"
          placeholder=""
          [formControl]="address"
        />
      </div>
    </div>
    <div class="col-md-12">
      <button type="button" class="btn btn-primary" (click)="onCreate()">
        Save
      </button>
    </div>
  </div>
</div>
