<div class="content-right">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Tên kho</th>
        <th>Địa chỉ</th>
        <th>#</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let warehouse of listWarehouse?.listWarehouse; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ warehouse.name }}</td>
        <td>{{ warehouse.address }}</td>
        <td>
          <div class="row group-button-action">
            <div class="col-md-4">
              <button class="btn" (click)="edit(warehouse.id)">
                <i class="fa-solid fa-pen-to-square"></i>
              </button>
            </div>
            <div class="col-md-4">
              <button class="btn" (click)="detail(warehouse.id)">
                <i class="fa-solid fa-circle-info"></i>
              </button>
            </div>
            <!-- <div class="col-md-4">
                            <button class="btn" (click)="delete(warehouse.id)"><i
                                    class="fa-solid fa-trash"></i></button>
                        </div> -->
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <button class="btn" (click)="add()">
            <i class="fa-solid fa-plus"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
