.form-custom {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  section {
    margin-top: 10px;
  }
  .form-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  }
  .transaction-detail-footer input {
    text-align: right;
  }
}
