<table class="table table-bordered table-inverse table-responsive">
  <tbody>
    <tr>
      <td>Mã hàng hóa</td>
      <td>{{ data.barCode }}</td>
    </tr>
    <tr>
      <td>Tên hàng hóa</td>
      <td>{{ data.name }}</td>
    </tr>
    <tr>
      <td>Nhà cung cấp</td>
      <td>{{ data.supplierName }}</td>
    </tr>
    <tr>
      <td>Đơn vị tính</td>
      <td>{{ data.unitName }}</td>
    </tr>
    <tr>
      <td>Người tạo</td>
      <td>{{ data.createdBy }}</td>
    </tr>
    <tr>
      <td>Ngày tạo</td>
      <td>{{ data.createdDate }}</td>
    </tr>
    <tr>
      <td>Người cập nhật</td>
      <td>{{ data.updatedBy }}</td>
    </tr>
    <tr>
      <td>Ngày cập nhật</td>
      <td>{{ data.updatedDate }}</td>
    </tr>
    <tr>
      <td>Mô tả hàng hóa</td>
      <td>{{ data.description }}</td>
    </tr>
  </tbody>
</table>
