.transaction-detail {
  .transaction-detail__content__info__item {
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 10px;
  }
  .transaction-detail__content__info__item div:last-child {
    font-weight: bold;
    font-style: italic;
  }
}
