<table class="table table-bordered table-inverse table-responsive">
    <tbody>
        <tr>
            <td>BarCode</td>
            <td>{{data.barCode}}</td>
        </tr>
        <tr>
            <td>Product name</td>
            <td>{{data.name}}</td>
        </tr>
        <tr>
            <td>Supplier name</td>
            <td>{{data.supplierName}}</td>
        </tr>
        <tr>
            <td>Unit name</td>
            <td>{{data.unitName}}</td>
        </tr>
        <tr>
            <td>Created by</td>
            <td>{{data.createdBy}}</td>
        </tr>
        <tr>
            <td>Created date</td>
            <td>{{data.createdDate}}</td>
        </tr>
        <tr>
            <td>Updated by</td>
            <td>{{data.updatedBy}}</td>
        </tr>
        <tr>
            <td>Updated date</td>
            <td>{{data.updatedDate}}</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>{{data.description}}</td>
        </tr>
    </tbody>
</table>