ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 0;
    padding: 0;
}

ul li a {
    text-decoration: none;
    color: white;
    text-transform: capitalize;
}

ul li {
    background-color: rgb(58, 58, 58);
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 2px;
}

ul li:hover {
    background-color: rgb(44, 44, 44);
}